h4{
    color:black;
    font-size:40px;
}
input{

    height:50px;
    background-color: transparent;
    color:black;
    font-weight: 600;
}
input::placeholder{
    color:black;
    font-weight:800;
}
form{
    color:black;
}