.card-footer{
    background-color: black;
    color:white;
    font-size: 15px;
    
}
.card-body{
    background-color: transparent;
    color:black;
}
.card{
    background-color: transparent;
}
#quo7{
    margin-top:70px;
}

h2{
    font-family: 'Lobster', cursive;
    font-size:110px;
    color:rgb(100, 100, 100);
    background-color: black;
}
#quote1{
    float: left;
    padding-left: 10px;
}
#intro{
    /* text-align: center; */
    padding-left: 470px;
    padding-right: 50px;
    font-size: 37px;

}
footer{
    background-color: black;
    color:white;
    height:150px;
    margin-bottom: 0;
}
h3{
    font-size: 70px;
}

#quote2{
    background-color:whitesmoke;
}
#hea{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.5ibCcIzMNxtx_ZVFXUrg_QHaFj%26pid%3DApi&f=1")
}