<div id="detail">
    <p>posted by:{{quotes.description}}</p>
    <p>Author:{{quotes.author}}</p>
    <button id="like" (click)= 'upvote()'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Linecons_like.svg/600px-Linecons_like.svg.png" width="40px" height="35px" alt="">
    </button>{{quotes.upvote}}
    <button id="dis"(click)= 'downvote()'><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Finficons-set-2%2F512%2Fthumbs-down-512.png&f=1&nofb=1" width="40px" height="35px" alt=""></button>{{quotes.downvote}}<br>
    <button id="del"  (click)= 'quoteComplete(true)'>Delete quote</button><br>
</div>
